@media (max-width: 768px) {

    .tabs a {
        width:100%;
    }

    .tabs a + div{
        position: static;
        float:left;
    }
    .tabs li{
        display: block;
        overflow: hidden;
        margin: 0 0 1px 0;
    }

}