html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.tabs{
    position: relative;
    margin: 0;
    padding: 15px;
    font-size: 0;
}
.tabs li{
    display: inline-block;
    margin-right: 1px;
    list-style-type: none;
    font-size: 14px;
}
.tabs li:last-child{
    margin-right: 0;
}
.tabs li a{
    display: block;
    padding: 10px 15px;
    background: rgba(219,219,219,1);
    text-decoration: none;
    color:#4B5056;
    transition: background 0.5s ease;
}
.tabs a + div{
    position: absolute;
    left: 0;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
}
.tabs :target a{
    background: rgba(219,219,219,0);
}
.tabs :target a + div{
    height: 100%;
    overflow: visible;
}




